body
{
	background-color: #303840;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 3%;
	color: #F4F4F3;
}

a { text-decoration: none;}
	a:link {color: #F4F4F3;}
	a:visited {color: #F4F4F3;}
	a:hover {color: #FFFF99;}
	a:active {color: #FFFF99;}  

textarea 
{
	webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	background-color: #F4F4F3;
	border-style: solid;
 	border-width: 2px;
	border-color: #B99B43;
	margin-top: 5px;
 	width: 100%;
 	color: #020202;
 	letter-spacing: 1px;
}

fieldset
{
	background-color: #2E353A;
}

    .inputform {
    	margin: 10px;
        width: 180px;
        clear: both;
    }

    .inputform input {
        width: 100%;
        clear: both;
    }

	.logo 
	{
		text-decoration: none;
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 5px;
	}

	.spacing
	{
		word-spacing: 100px;
	}