body
{
	background-color: #303840;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 3%;
	color: #F4F4F3;
	letter-spacing: 1px;
	font-family: Sans-serif;
}

a 
{ 
	text-decoration: none;
}
	a:link {color: #F4F4F3;}
	a:visited {color: #F4F4F3;}
	a:hover {color: #FFFF99;}
	a:active {color: #FFFF99;}  

textarea 
{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	background-color: #F4F4F3;
	border-style: solid;
 	border-width: 4px;
	border-color: #B99B43;
	margin-top: 10px;
	padding: 10px;
 	width: 100%;
 	color: #020202;
 	font-size: 15px;
 	letter-spacing: 1px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

select
{
	margin-right: 20px;
}

legend
{	
	color: #F4F4F3;
	letter-spacing: 1px;
}

fieldset
{
	background-color: #293034;
	margin-top:15px;
	padding-left: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

	.button
	{
		border: 0px;
		color: #C1AA7C;
		background-color: #303840;
		letter-spacing: 2px;
		font-size: 16px;
	}

	.button:hover
	{
		color: #E9D494;
	}

	.inputform 
	{
		margin: 10px;
	    width: 180px;
	    clear: both;
	    margin-top: 10px;
	}

	.inputform input 
	{
	    width: 100%;
		clear: both;
	 	letter-spacing: 1px;
	}

	.logo 
	{
		text-decoration: none;
		font-size: 22px;
		font-weight: bold;
		letter-spacing: 5px;
	}

	.spacing
	{
		word-spacing: 30px;
	}

	.menu
	{
		word-spacing: 40px;
	}